<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {titulo: 'Create' , estilo: 'create' }) %>

    <body>
        <%- include('../partials/header-cart') %>
            <main>
                <h1>Hola ¿Quedo algo?
                </h1>
            </main>
            <%- include('../partials/footer') %>
    </body>
</html>