* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

/* ************* Main ************* */
.mainDetail {
    height: auto;
    padding: 25px;
    margin: auto;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nombre {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}

/* corazon */

[id="heart"] {
    position: absolute;
    left: -100vw;
}

[for="heart"] {
    color: #aab8c2;
    cursor: pointer;
    font-size: 1.5em;
    align-self: center;
    transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
    color: grey;
}

[for="heart"]::selection {
    color: none;
    background: transparent;
}

[for="heart"]::moz-selection {
    color: none;
    background: transparent;
}

[id="heart"]:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

/* fin corazon */

.imageContainer {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;

}
.imageContainer img {
    width: 100%;
}

/* seccion de precio, detalles y otros */
.detailSection {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.precio {
    font-size: 30px;
    font-weight: 600;
}

.impuestos {
    font-size: medium;
    font-weight: lighter;
    color: #aeaeae;
    margin-bottom: 15px;
}

.stars {
    font-weight: 100;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.stockSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    border: 1px #8a97ca solid;
    border-radius: 0.4rem;
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    align-items: center;
}

#number {
    border: none;
    font-size: 20px;
}

.pickColorContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    border: 1px #8a97ca solid;
    border-radius: 0.4rem;
    padding: 0 20px;
    margin-bottom: 15px;
    align-items: center;
    width: 100%;
    height: 50px;
}

.Color {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.changeColor {
    display: flex;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: white;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.btnAddToCart {
    width: 100%;
    height: 50px;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 0;
    color: #ffffff;
    background-color: #3b82bf;
    margin-bottom: 15px;
    transition: 0.3s all;
}
.btnAddToCart:hover {
    background-color: #1F67A6;
}
.btnProduct {
    width: 100%;
    height: 50px;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 0;
    color: #ffffff;
    
    margin-bottom: 15px;
    transition: 0.3s all;
}
.productEdit {
    background-color: #a88af0;
}
.productEdit:hover {
    background-color: #876ec1;
}
.productDelete {
    background-color: #db4444;
}
.productDelete:hover {
    background-color: #b83a3a;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: #8a97ca;
    margin-bottom: 15px;
}
.available {
    font-weight: lighter;
    font-size: 15px;
    color: rgb(75, 212, 75);
}
.shortDescription {
    font-size: 100px;
    font-weight: 500;
    font-size: 20px;
    color: #595959;
}
.listDescription {
    list-style: none;
    font-size: 75px;
    font-weight: 400;
    font-size: 15px;
    color: #aeaeae;
}
/* fin de seccion de detalles */

.acordeon {
    cursor: pointer;
    margin-top: 20px;
    list-style: none;
}

#arrows:active {
    transform: rotate(90deg);
}

summary {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #8678a7;
}

.productDetailContainer {
    background-color: white;
    border-top: 1.5px #8a97ca solid;
    width: 100%;
    padding: 40px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

.medidasContainer {
    background-color: white;
    border-top: 1.5px #8a97ca solid;
    width: 100%;
    padding: 40px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

.descripcionContainer {
    background-color: white;
    border-top: 1.5px #8a97ca solid;
    border-bottom: 1.5px #8a97ca solid;
    padding: 40px;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

.contenido {
    width: 100%;
    padding: 20px;
    font-weight: 100;
    font-size: 15px;
    text-align: left;
}

/* fin parte de la desc. prod. */

.prodRelacionados {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.titleProdRel {
    display: flex;
    justify-items: center;
    margin-bottom: 20px;
}
.grupo-articulos{
    display: flex;
    margin-top: 1.5rem;
    overflow-x: scroll;
    justify-content: space-between;
}

.grupo-articulos a{
    text-decoration: none;
    color: #434343;
}

article{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.10);
    height: auto;
}

article img{
    width: 9rem;
    height: 8rem;
    object-fit: cover;
    object-position: center;
}

.detalle-productos{
    width: 7rem;
    display: flex;
    flex-direction: column;
}

.nombre-producto{
    font-size: 15px;
    height: 2rem;
    width: 7rem;
    margin: 5px 0 5px 5px;
}

.descripcion{
    font-size: 15px;
    opacity: 0.8;
    height: 4.5rem;
    width: 7rem;
    margin: 0 0 5px 5px;
}

.precio{
    font-size: 15px;
    margin: 0 0 5px 5px;
    padding-top: 2.5rem;
}

.subTitle {
    font-size: 20px;
}

.subTitle p {
    font-weight: 400;
    font-size: 20px;
    color: #aeaeae;
}

/* Añadir pntuacion */
.punctuationStars {
    background-color: white;
    border-top: 1px #8a97ca solid;
    padding: 40px;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.punctuationStars p {
    margin-bottom: 20px;
}

#form {
    width: 250px;
    height: 50px;
}

#form div {
    text-align: center;
}

#form label {
    font-size: 150px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
    font-size: 40px;
    cursor: pointer;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: flex;
    justify-content: center;
    align-items: center;
}

label:hover,
label:hover ~ label {
    color: orange;
}

input[type="radio"]:checked ~ label {
    color: orange;
}

.sendStars {
    font-weight: bold;
    font-size: small;
    color: white;
    background-color: #8a97ca;
    border-radius: 0.4rem;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.sendStars:hover {
    background-color: #495069;
}

.containerStars {
    margin-top: 10px;
    font-size: 15px;
}

/* SMARTPHONES PORTRAIT */
/* @media (min-width: 320px){
    .subTitle p {
        display: none;
    }

    .fondoCompartido {
        border: #d0c8e0 1px solid;
        border-radius: 0.2em;
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    label {
        font-size: 25px;
    }
} */

/* TABLETS PORTRAIT */
/* @media (min-width: 480px){
    .subTitle p {
        display: none;
    }
    .imageContainer {
        max-width: 450px;
        height: auto;
        align-self: center;
    }
    .detailSection {
        min-height: auto;
        display: block;
        background-color: #ffffff;
        padding: 20px;
        margin: 10px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-self: center;
    }
} */

/* TABLET LANDSCAPE / SMALL-DESKTOP´S */
@media (min-width: 768px) {
    .mainDetail {
        width: 75vw;
    }
    .nombre {
        display: flex;
        align-self: flex-end;
    }
    article img{
        width: 10rem;
        height: 9rem;
    }
}

/* DESKTOP */

@media (min-width: 1024px) {
    
    .titleContainer {
        align-self: center;
        justify-content: space-around;
    }

    [for="heart"] {
        font-size: 3em;
    }

    .section1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    
    .detailSection {
        width: 450px;
        display: block;
        background-color: #ffffff;
        padding: 20px;
        margin: 10px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 0.2rem;
    }
    .imageContainer {
        width: 48rem;
    }
    .imageContainer img {
        object-fit: cover;
        object-position: center;
    }
    
    .nombre {
        font-weight: 700;
        font-size: 30px;
    }

    .precio {
        font-weight: 600;
    }

    .impuestos {
        font-size: medium;
        font-weight: lighter;
        color: #595959;
    }

    .stars {
        font-weight: 100;
        display: flex;
        flex-direction: row;
    }

    .pickColorContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border: 1px #8a97ca solid;
        border-radius: 0.4rem;
        padding: 0 20px;
        width: 100%;
    }

    .Color {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .changeColor {
        display: flex;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background-color: white;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .stockSection {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: white;
        border: 1px #8a97ca solid;
        border-radius: 0.4rem;
        padding: 8px;
        margin-bottom: 15px;
        width: 100%;
    }

    .infoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 15px;
        color: #595959;
    }
    .available {
        font-weight: lighter;
        font-size: 15px;
        color: rgb(75, 212, 75);
    }
    .shortDescription {
        font-size: 100px;
        font-weight: 500;
        font-size: 20px;
        color: #595959;
    }
    .listDescription {
        list-style: none;
        font-size: 75px;
        font-weight: 400;
        font-size: 15px;
        color: #aeaeae;
    }

    article img{
        width: 11.5rem;
        height: 10.5rem;
    }
}
