* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-image: url('../images/edit.jpg');
    background-position: center;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

main {
    margin: 3rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-market {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffb3;
    /* Fondo blanco semitransparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    /* Agrega un efecto de desenfoque al fondo del formulario */
    width: 95vw;
}


.title-market {
    text-align: center;
    color: #333;
    text-transform: uppercase;
}

.form-market {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form-market div {
    display: flex;
    width: 100%;
    flex-direction: column;
}

label {
    margin-top: 15px;
    color: #3B82BF;
    font-size: 14px;
    font-weight: 500;
}

input,
select,
textarea {
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

button {
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s all;
}

button a {
    text-decoration: none;
    color: #fff;
}

.botones-market {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

.enviar {
    background-color: #3b82bf;
    padding: 15px;
}
.enviar:hover {
    background-color: #1F67A6;
}

.resetear {
    width: 100%;
    background-color: #dd4b39;
    padding: 15px;
    margin-top: 10px;
}
.resetear:hover {
    background-color: #c0402f;
}
.form-delete {
    width: 48%;
}
.crear {
    background-color: #a88af0;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    border-radius: 6px;
    text-align: center;
}
.crear:hover {
    background-color: #876ec1;
}

.description {
    height: 7rem;
}

@media (min-width: 525px) {
    .container-market {
        width: 26rem;
    }
}

@media screen and (min-width: 768px) {
    
    .container-market {
        width: 75vw;
    }
    .form-market {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }
    .form-market div {
        display: flex;
        width: 48%;
        flex-direction: column;
    }
    .crear {
        width: 48%;
    }
}
@media screen and (min-width: 1024px) {
    
    .container-market {
        width: 48rem;
    }
}