* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/background-user.jpg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

h2 {
    text-align: center;
    color: #333;
    text-transform: uppercase;
}

.facebook {
    border-radius: 0.5rem 0 0 0.5rem !important;
}

.google {
    border-radius: 0 0.5rem 0.5rem 0 !important;
}

.forgot-password {
    text-align: center;
    margin-top: 15px;
    color: #555;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Media query para cambiar el diseño de los botones cuando la resolución sea mayor a 360px */
@media screen and (max-width: 768px) {

    main {
        height: 55rem;
    }

    header a {
        left: 5%;
        top: 30px;
    }
}