<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {titulo: 'Mi Carrito', estilo: 'cart'}) %>

<body>
    <%- include('./partials/header-cart', {user: user}) %>
    <main class="main-carrito">
        <div class="titulos">
            <h1>Carro de Compras</h1>
            <h3>Los gastos de envío y códigos de descuento se confirman al finalizar la compra</h3>
        </div>
        <div class="contenedor-sin-cs-ni-titulos">
            <div class="contenedor">
                <div class="contenedor-h2">
                    <h2>Su pedido</h2>
                </div>
                <div class="contenedor-articulos">
                    <article class="articulo">
                        <a class="link-producto" href="/productos/detalle/1">
                            <div class="imagen">
                                <img src="/images/inflador.jpg" alt="">
                            </div>
                        </a>
                        <div class="descripcion">
                            <h4 class="nombre-producto">Inflador de pie marca giyo</h4>
                            <p class="descripcion-producto">Tipo adaptativo apto para: moto, bici, pelotas, auto, etc.</p>
                        
                            <p class="envio">Envío: 2-4 días</p>
                            <div class="cantidad-selector">
                                <label for="cantidad"></label>
                                <input type="number" value="1" id="cantidad" name="cantidad" min="1" max="10">
                            </div>
                        </div>
                        <div class="precio">
                            <div class="boton-eliminar">
                                <a href="#"><i class="fa-solid fa-trash" style="color: #a88af0;"></i></a>
                            </div>
                            <p class="descuento">$15600</p>
                            <p class="precio-parrafo">$14400</p>
                        </div>
                    </article>
                    <article class="articulo">
                        <a class="link-producto" href="/productos/detalle/1">
                            <div class="imagen">
                                <img src="/images/inflador.jpg" alt="">
                            </div>
                        </a>
                        <div class="descripcion">
                            <h4 class="nombre-producto">Inflador de pie marca giyo</h4>
                            <p class="descripcion-producto">Tipo adaptativo apto para: moto, bici, pelotas, auto, etc.</p>
                        
                            <p class="envio">Envío: 2-4 días</p>
                            <div class="cantidad-selector">
                                <label for="cantidad"></label>
                                <input type="number" value="1" id="cantidad" name="cantidad" min="1" max="10">
                            </div>
                        </div>
                        <div class="precio">
                            <div class="boton-eliminar">
                                <a href="#"><i class="fa-solid fa-trash" style="color: #a88af0;"></i></a>
                            </div>
                            <p class="descuento">$15600</p>
                            <p class="precio-parrafo">$14400</p>
                        </div>
                    </article>
                </div>
                <div class="precio-final">
                    <div class="contenedor-precio-final">
                        <div class="precio-articulos">
                            <div class="descripcion-total">
                                <div class="articulos-carrito">
                                    <h4>Artículos en el carrito </h4>
                                    <p class="precio-parrafo-final">$156.900</p>
                                </div>
                                <div class="descuento-aplicado">
                                    <p>Descuento aplicado</p>
                                    <p class="descuento-final">$16.000</p>
                                </div>
                            </div>
                            <div class="precio-total">
                                <p class="total-final">Total $18.000</p>
                                <a href="#"><button>COMPRAR</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="precio-final-off">
                        <p>CÓDIGO DE DESCUENTO</p>
                        <input type="text">
                        <button class="aplicarCodigo">APLICAR</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="compras-seguras">
            <div class="compras">
                <ul>
                    <li class="lista-compras">
                        <h2>Compras seguras y fáciles</h2>
                    </li>
                    <a href="#">
                        <li class="devoluciones">
                            <i class="fa-solid fa-rotate-left" style="color: #3b82bf;"></i>
                            Devoluciones gratuitas durante 30 días
                            <i class="fa-solid fa-chevron-down" style="color: #3b82bf;"></i>
                        </li>
                    </a>
                    <a href="#">
                        <li class="metodos-de-pago">
                            <i class="fa-regular fa-credit-card" style="color: #3b82bf;"></i> Métodos de pago
                            convenientes
                            <i class="fa-solid fa-chevron-down" style="color: #3b82bf;"></i>
                        </li>
                    </a>
                    <a href="#">
                        <li class="entrega">
                            <i class="fa-solid fa-truck" style="color: #3b82bf;"></i> Entrega a domicilio o puntos
                            claves
                            <i class="fa-solid fa-chevron-down" style="color: #3b82bf;"></i>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %>
</body>

</html>