<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {titulo: 'Mi Carrito', estilo: 'cart'}) %>

<body>
    <%- include('./partials/header', {user: locals.user ? locals.user : undefined}) %>
    <main class="main-carrito">
        <div class="titulos">
            <h1>Carro de Compras</h1>
           
        </div>
        <div class="contenedor-sin-cs-ni-titulos">
            <div class="contenedor">
                <div class="contenedor-h2">
                    <h2>Su pedido</h2>
                </div>
                <div class="contenedor-articulos">
                    <article class="articulo">
                        <a class="link-producto" href="/productos/detalle/1">
                            <div class="imagen">
                                <img src="/images/inflador.jpg" alt="">
                            </div>
                        </a>
                        <div class="descripcion">
                            <h4 class="nombre-producto">Inflador de pie marca giyo</h4>
                            <p class="descripcion-producto">Tipo adaptativo apto para: moto, bici, pelotas, auto, etc.</p>
                        
                            <p class="envio">Envío: 2-4 días</p>
                            <div class="cantidad-selector">
                                <label for="cantidad"></label>
                                <input type="number" value="1" id="cantidad" name="cantidad" min="1" max="10">
                            </div>
                        </div>
                        <div class="precio">
                            <div class="boton-eliminar">
                                <a href="#"><i class="fa-solid fa-trash" style="color: #a88af0;"></i></a>
                            </div>
                            <p class="descuento">$15600</p>
                            <p class="precio-parrafo">$14400</p>
                        </div>
                    </article>
                    <article class="articulo">
                        <a class="link-producto" href="/productos/detalle/1">
                            <div class="imagen">
                                <img src="/images/inflador.jpg" alt="">
                            </div>
                        </a>
                        <div class="descripcion">
                            <h4 class="nombre-producto">Inflador de pie marca giyo</h4>
                            <p class="descripcion-producto">Tipo adaptativo apto para: moto, bici, pelotas, auto, etc.</p>
                        
                            <p class="envio">Envío: 2-4 días</p>
                            <div class="cantidad-selector">
                                <label for="cantidad"></label>
                                <input type="number" value="1" id="cantidad" name="cantidad" min="1" max="10">
                            </div>
                        </div>
                        <div class="precio">
                            <div class="boton-eliminar">
                                <a href="#"><i class="fa-solid fa-trash" style="color: #a88af0;"></i></a>
                            </div>
                            <p class="descuento">$15600</p>
                            <p class="precio-parrafo">$14400</p>
                        </div>
                    </article>
                </div>
                <div class="precio-final">
                    <div class="contenedor-precio-final">
                        <div class="precio-articulos">
                            <div class="descripcion-total">
                                <div class="articulos-carrito">
                                    <h4>Artículos en el carrito </h4>
                                    <p class="precio-parrafo-final">$156.900</p>
                                </div>
                            </div>
                            <div class="precio-total">
                                <p class="total-final">Total $18.000</p>
                                <a href="#"><button>COMPRAR</button></a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <h3>Los gastos de envío y códigos de descuento se confirman al finalizar la compra</h3>
    </main>
    
    <%- include('./partials/footer') %>
</body>

</html>