<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Isabel Bicicleteria - Home</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <!-- <header>
            <div class="headerContainer">
                <div class="logoHeader">
                    <h2>Isabel Bicicleteria</h2>
                </div>
                <div class="searchHeader">
                    <input class="inputSearch" type="search" placeholder="Bucar productos"/>
                    <i class="fa-solid fa-magnifying-glass icono-search"></i>
                </div>
                <div class="userHeader">
                    <a class="a-user" href="/">
                        <i class="fa-regular fa-heart icono-user"></i>
                        <p class="contador-user">12</p>
                    </a>
                    <a class="a-user" href="/log">
                        <i class="fa-regular fa-user icono-user"></i>
                        <p class="p-login">Login</p>
                    </a>
                    <a class="a-user" href="/carrito">
                        <i class="fa-solid fa-cart-shopping icono-user"></i>
                        <p class="contador-user">2</p>
                    </a>
                </div>
                <nav class="menuHeader">
                    <ul class="listaMenu">
                        <li>
                            <a class="linkMenu" href="/producto">Bicicletas</a>
                        </li>
                        <li>
                            <a class="linkMenu" href="/">Accesorios</a>
                        </li>
                        <li>
                            <a class="linkMenu" href="/">Indumentaria</a>
                        </li>
                        <li>
                            <a class="linkMenu" href="/">Repuestos</a>
                        </li>
                        <li>
                            <a class="linkMenu" href="/">Servicios</a>
                        </li>
                        <li>
                            <a class="linkMenu" href="/">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="searchHeader">
                <input class="inputSearch" type="search" placeholder="Bucar productos"/>
                <i class="fa-solid fa-magnifying-glass icono-search"></i>
            </div>
            <div class="userHeader">
                <a class="a-user" href="">
                    <i class="fa-regular fa-heart icono-user"></i>
                    <p class="contador-user">12</p>
                </a>
                <a class="a-user" href="">
                    <i class="fa-regular fa-user icono-user"></i>
                    <p class="p-login">Login</p>
                </a>
                <a class="a-user" href="">
                    <i class="fa-solid fa-cart-shopping icono-user"></i>
                    <p class="contador-user">2</p>
                </a>
            </div>
            <nav class="menuHeader">
                <ul class="listaMenu">
                    <li>
                        <a class="linkMenu" href="/producto">Bicicletas</a>
                    </li>
                    <li>
                        <a class="linkMenu" href="">Accesorios</a>
                    </li>
                    <li>
                        <a class="linkMenu" href="">Indumentaria</a>
                    </li>
                    <li>
                        <a class="linkMenu" href="">Repuestos</a>
                    </li>
                    <li>
                        <a class="linkMenu" href="">Servicios</a>
                    </li>
                    <li>
                        <a class="linkMenu" href="">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>*/ -->
        <header>
            <nav class="banner">
                <img src="/images/banner.jpg">
            </nav>
        </header>
        <main>
            <div class="contenedor-categorias">
                <div class="categorias">
                    <img src="/images/bicicletas.jpg" alt="bicicleta">
                    <h3>Bicicletas</h3>
                </div>
                <div class="categorias">
                    <img src="/images/accesorios.webp" alt="casco, guantes, luces">
                    <h3>Accesorios</h3>
                </div>
                <div class="categorias">
                    <img src="/images/repuestos.webp" alt="repuestos para bicicleta">
                    <h3>Repuestos</h3>
                </div>
                <div class="categorias">
                    <img src="/images/indumentaria.jpg" alt="ropa de ciclismo">
                    <h3>Indumentaria</h3>
                </div>
            </div>
            <div class="seccion-productos">
                <div class="encabezados">
                    <h2>¡Productos nuevos!</h2>
                    <a href="#">BUSCAR PRODUCTOS</a>
                </div>
                <div class="grupo-articulos">
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                            <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>  
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                        <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>  
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                            <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>  
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                </div>
            </div>
            <div class="anuncio-promo">
                <div class="textos">
                    <h2 class="super-promo">Super Promo</h2>
                    <h3 class="descuento">50%</h3>
                    <h4 class="productos-seleccionados">de descuento en productos<br>seleccionados</h4>
                </div>
                <div class="imagen-sale">
                    <img src="/images/ofertas.avif" alt="cartel de SALE(oferta)">
                    <a href="#">VER AHORA</a>
                </div>
            </div>
            <div class="seccion-productos">
                <div class="encabezados">
                    <h2>Productos destacados</h2>
                    <a href="#" class="explorar-productos">EXPLORAR PRODUCTOS</a>
                </div>
                <div class="grupo-articulos">
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                            <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                        <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>  
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                            <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>  
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                </div>
            </div>

        </main>
        <!-- <footer class="footerContainer">
            <div class="ayudaFooter">
                <h4 class="h4AyudaFooter">Necesitas ayuda?</h4>
                <a href="" class="btnAyudaFooter">Contáctanos</a>
            </div>
            <div class="redesFooter">
                <div class="divRedesFooter">
                    <a href="" class="aRedesFooter">
                        <i class="fa-brands fa-instagram icono-instagram"></i>
                    </a>
                    <a href="" class="aRedesFooter">
                        <i class="fa-brands fa-facebook icono-facebook"></i>
                    </a>
                    <a href="" class="aRedesFooter">
                        <i class="fa-brands fa-youtube icono-youtube"></i>
                    </a>
                    <a href="" class="aRedesFooter">
                        <i class="fa-brands fa-x-twitter icono-twitter"></i>
                    </a>
                </div>
            </div>
            <div class="chatFooter">
                <a href="" class="btnChatFooter">
                    <i class="fa-solid fa-comment"></i>
                </a>
            </div>
        </footer> -->
    </body>
</html>
