<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Isabel Bicicleteria - Home</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <header>
            <div class="headerContainer">
                <div class="headerLogo">
                    <a href="/"><img src="/icon/logo.svg" alt="logo"></a>
                </div>
                <div class="headerSearch">
                    <form action="">
                        <input class="inputSearch" type="search" placeholder="Buscar productos">
                        <i class="fa-solid fa-magnifying-glass i-search"></i>
                    </form>
                </div>
                <div class="headerUser">
                    <button class="userButton">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <a href="/carrito" class="headerUserLink a-carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    <a href="/login" class="headerUserLink a-user">
                        <i class="fa-regular fa-user"></i>
                        <p class="p-user">Iniciar Sesión</p>
                    </a>
                    <button class="userButton">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
                <nav class="headerNav">
                    <ul>
                        <li>
                            <a href="/" class="navLink">Inicio</a>
                        </li>
                        <li>
                            <a href="/" class="navLink">Bicicletas</a>
                         </li>
                        <li>
                            <a href="/" class="navLink">Accesorios</a>
                        </li>
                        <li>
                            <a href="/" class="navLink">Indumentaria</a>
                        </li>
                        <li>
                            <a href="/" class="navLink">Repuestos</a>
                        </li>
                        <li>
                            <a href="/" class="navLink">Nosotros</a>
                        </li>
                        <li>
                            <a href="/" class="navLink">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <nav class="banner">
            <img src="/images/banner.jpg">
        </nav>  
        <main>
            <div class="contenedor-categorias">
                <div class="categorias">
                    <img src="/images/bicicletas.jpg" alt="bicicleta">
                    <h3>Bicicletas</h3>
                </div>
                <div class="categorias">
                    <img src="/images/accesorios.webp" alt="casco, guantes, luces">
                    <h3>Accesorios</h3>
                </div>
                <div class="categorias">
                    <img src="/images/repuestos.webp" alt="repuestos para bicicleta">
                    <h3>Repuestos</h3>
                </div>
                <div class="categorias">
                    <img src="/images/indumentaria.jpg" alt="ropa de ciclismo">
                    <h3>Indumentaria</h3>
                </div>
            </div>
            <div class="seccion-productos">
                <div class="encabezados">
                    <h2>¡Productos nuevos!</h2>
                    <a href="#">BUSCAR PRODUCTOS</a>
                </div>
                <div class="grupo-articulos">
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                            <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>  
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                        <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>  
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                            <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>  
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                </div>
            </div>
            <div class="anuncio-promo">
                <div class="textos">
                    <h2 class="super-promo">Super Promo</h2>
                    <h3 class="descuento">50%</h3>
                    <h4 class="productos-seleccionados">de descuento en productos<br>seleccionados</h4>
                </div>
                <div class="imagen-sale">
                    <img src="/images/ofertas.avif" alt="cartel de SALE(oferta)">
                    <a href="#">VER AHORA</a>
                </div>
            </div>
            <div class="seccion-productos">
                <div class="encabezados">
                    <h2>Productos destacados</h2>
                    <a href="#" class="explorar-productos">EXPLORAR PRODUCTOS</a>
                </div>
                <div class="grupo-articulos">
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                            <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                        <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>  
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                        <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                            <p class="descripcion">Carga USB. Rosa o blanco</p>
                        </div>
                            <h4 class="precio">$4.000</h4>
                    </article>
                    <article>
                        <img src="/images/inflador.jpg" alt="inflador">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                            <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                        </div>
                        <h4 class="precio">$14.000</h4>  
                    </article>
                    <article>
                        <img src="/images/CAJA.jpg" alt="caja pedalera">
                        <div class="detalles-producto">
                            <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                            <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                        </div>
                        <h4 class="precio">$12.300,50</h4>
                    </article>
                    <article>
                </div>
            </div>
        </main>

        <footer>
            <div class="footerRedes">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerContacto">
                <h3 class="footerContactoH3">Necesitas ayuda?</h3>
                <button class="btnFooterContacto">Contáctanos</button>
            </div>
            <div class="footerChat">
                <a class="btnChat" href=""><i class="fa-solid fa-message"></i></a>
            </div>
        </footer>
    </body>
</html>
