<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <nav class="banner">
                <img src="/images/banner.jpg">
            </nav>
            <main>
                <div class="contenedor-categorias">
                    <div class="categorias">
                        <img src="/images/bicicletas.jpg" alt="bicicleta">
                        <h3>Bicicletas</h3>
                    </div>
                    <div class="categorias">
                        <img src="/images/accesorios.webp" alt="casco, guantes, luces">
                        <h3>Accesorios</h3>
                    </div>
                    <div class="categorias">
                        <img src="/images/repuestos.webp" alt="repuestos para bicicleta">
                        <h3>Repuestos</h3>
                    </div>
                    <div class="categorias">
                        <img src="/images/indumentaria.jpg" alt="ropa de ciclismo">
                        <h3>Indumentaria</h3>
                    </div>
                </div>
                <div class="seccion-productos">
                    <div class="encabezados">
                        <h2>¡Productos nuevos!</h2>
                        <a href="#">BUSCAR PRODUCTOS</a>
                    </div>
                    <div class="grupo-articulos">
                        <a href="/producto">
                            <article>
                                <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                                <div class="detalles-producto">
                                    <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                                    <p class="descripcion">Carga USB. Rosa o blanco</p>
                                </div>
                                <h4 class="precio">$4.000</h4>
                            </article>
                        </a>
                        <article>
                            <img src="/images/inflador.jpg" alt="inflador">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                                <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                            </div>
                            <h4 class="precio">$14.000</h4>
                        </article>
                        <article>
                            <img src="/images/CAJA.jpg" alt="caja pedalera">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                                <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                            </div>
                            <h4 class="precio">$12.300,50</h4>
                        </article>
                        <article>
                            <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                                <p class="descripcion">Carga USB. Rosa o blanco</p>
                            </div>
                            <h4 class="precio">$4.000</h4>
                        </article>
                        <article>
                            <img src="/images/inflador.jpg" alt="inflador">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                                <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                            </div>
                            <h4 class="precio">$14.000</h4>
                        </article>
                        <article>
                            <img src="/images/CAJA.jpg" alt="caja pedalera">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                                <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                            </div>
                            <h4 class="precio">$12.300,50</h4>
                        </article>
                        <article>
                            <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                                <p class="descripcion">Carga USB. Rosa o blanco</p>
                            </div>
                            <h4 class="precio">$4.000</h4>
                        </article>
                        <article>
                            <img src="/images/inflador.jpg" alt="inflador">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                                <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                            </div>
                            <h4 class="precio">$14.000</h4>
                        </article>
                        <article>
                            <img src="/images/CAJA.jpg" alt="caja pedalera">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                                <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                            </div>
                            <h4 class="precio">$12.300,50</h4>
                        </article>
                        <article>
                    </div>
                </div>
                <div class="anuncio-promo">
                    <div class="textos">
                        <h2 class="super-promo">Super Promo</h2>
                        <h3 class="descuento">50%</h3>
                        <h4 class="productos-seleccionados">de descuento en productos<br>seleccionados</h4>
                    </div>
                    <div class="imagen-sale">
                        <img src="/images/ofertas.avif" alt="cartel de SALE(oferta)">
                        <a href="#">VER AHORA</a>
                    </div>
                </div>
                <div class="seccion-productos">
                    <div class="encabezados">
                        <h2>Productos destacados</h2>
                        <a href="#" class="explorar-productos">EXPLORAR PRODUCTOS</a>
                    </div>
                    <div class="grupo-articulos">
                        <article>
                            <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                                <p class="descripcion">Carga USB. Rosa o blanco</p>
                            </div>
                            <h4 class="precio">$4.000</h4>
                        </article>
                        <article>
                            <img src="/images/inflador.jpg" alt="inflador">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                                <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                            </div>
                            <h4 class="precio">$14.000</h4>
                        </article>
                        <article>
                            <img src="/images/CAJA.jpg" alt="caja pedalera">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                                <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                            </div>
                            <h4 class="precio">$12.300,50</h4>
                        </article>
                        <article>
                            <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                                <p class="descripcion">Carga USB. Rosa o blanco</p>
                            </div>
                            <h4 class="precio">$4.000</h4>
                        </article>
                        <article>
                            <img src="/images/inflador.jpg" alt="inflador">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                                <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                            </div>
                            <h4 class="precio">$14.000</h4>
                        </article>
                        <article>
                            <img src="/images/CAJA.jpg" alt="caja pedalera">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                                <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                            </div>
                            <h4 class="precio">$12.300,50</h4>
                        </article>
                        <article>
                            <img src="/images/LUZ.jpg" alt="luz de bicicleta">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Luz delantera tipo mini</h3>
                                <p class="descripcion">Carga USB. Rosa o blanco</p>
                            </div>
                            <h4 class="precio">$4.000</h4>
                        </article>
                        <article>
                            <img src="/images/inflador.jpg" alt="inflador">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Inflador de pie GIYO</h3>
                                <p class="descripcion">Apto para moto, bici, auto, pelotas, etc.</p>
                            </div>
                            <h4 class="precio">$14.000</h4>
                        </article>
                        <article>
                            <img src="/images/CAJA.jpg" alt="caja pedalera">
                            <div class="detalles-producto">
                                <h3 class="nombre-producto">Caja hollowtech a rulemanes</h3>
                                <p class="descripcion">Marca FIRST. Rojo o negro. Compatible Shimano</p>
                            </div>
                            <h4 class="precio">$12.300,50</h4>
                        </article>
                        <article>
                    </div>
                </div>
            </main>

         <%- include('/partials/footer.ejs') %>
    </body>

</html>