<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {titulo: 'Erros404' , estilo: 'error' }) %>

    <body>
        <%- include('./partials/header', {user: user}) %>
        <% if (locals.message_error) { %>
            <h2 style="text-align: center; margin: 2rem 0 2rem 0;"><%= locals.message_error %></h2>
        <% } %>
            <div class="error">
                <img class="errorimg" src="/icon/error.svg" alt="Error_404">
            </div>
    </body>

</html>