<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/carrito.css" />
</head>

<body>


    <header class="headerContainer">
        <div class="logoHeader">
            <h2>
                <a href="#">Isabel Bicicleteria</a>
            </h2>
        </div>
        <div class="searchHeader">
            <input class="inputSearch" type="search" placeholder="Bucar productos" />
            <i class="fa-solid fa-magnifying-glass icono-search"></i>
        </div>
        <div class="userHeader">
            <a class="a-user" href="">
                <i class="fa-regular fa-heart icono-user"></i>
                <p class="contador-user">12</p>
            </a>
            <a class="a-user" href="">
                <i class="fa-regular fa-user icono-user"></i>
                <p class="p-login">Login</p>
            </a>
            <a class="a-user" href="/carrito">
                <i class="fa-solid fa-cart-shopping icono-user"></i>
                <p class="contador-user">2</p>
            </a>
        </div>
        <nav class="menuHeader">
            <ul class="listaMenu">
                <li>
                    <a class="linkMenu" href="">Bicicletas</a>
                </li>
                <li>
                    <a class="linkMenu" href="">Accesorios</a>
                </li>
                <li>
                    <a class="linkMenu" href="">Indumentaria</a>
                </li>
                <li>
                    <a class="linkMenu" href="">Repuestos</a>
                </li>
                <li>
                    <a class="linkMenu" href="">Servicios</a>
                </li>
                <li>
                    <a class="linkMenu" href="">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-carrito">

        <h1>Carrito de Compras</h1>
        <p class="p-carrito">Los gastos de envio y códigos de descuento se confirman al finalizar la compra</p>
<section class="seccion-carrito">




<div class="contenedor-pedido">
    <h3 class="h3-pedido">Su pedido</h3>
    <article class="articulo">
        <div class="articulo-img"> <img src="/images/inflador.jpg" alt=""> </div>
        <div>
            <h4>Inflador de pie marca giyo</h4>
            <p>Tipo adaptativo apto para: moto, bici, pelotas, auto, etc.</p>
            <p>Envio: 2-4 días</p>
        </div>
        <div>
            <button>
                <i class="fa-solid fa-trash-can"></i>
            </button>
            <h5>$14.000</h5>
        </div>
    </article>
    <article class="articulo">
        <div class="articulo-img"> <img src="/images/luz-delantera.jpg" alt=""></div>
        <div>
            <h4>Luz delantera tipo mini</h4>
            <p>Con carga USB, color rosa</p>
            <p>Envio: 2-4 días</p>
        </div>
        <div>
            <button>
                <i class="fa-solid fa-trash-can"></i>
            </button>
            <h5>$4.000</h5>
        </div>
    </article>
</div>
<div class="contenedor-resumen">

    <article> </article>
    <article>
        <p> Total </p>
        <p> $18.000 </p>
    </article>
    <article>
        <p>CÓDIGO DE DESCUENTO / GIF CARD </p>
        <p>></p> 
    </article>

</div>


</section>

    </main>

    <footer class="footerContainer">
        <div class="ayudaFooter">
            <h4 class="h4AyudaFooter">Necesitas ayuda?</h4>
            <a href="" class="btnAyudaFooter">Contáctanos</a>
        </div>
        <div class="redesFooter">
            <div class="divRedesFooter">
                <a href="" class="aRedesFooter">
                    <i class="fa-brands fa-instagram icono-instagram"></i>
                </a>
                <a href="" class="aRedesFooter">
                    <i class="fa-brands fa-facebook icono-facebook"></i>
                </a>
                <a href="" class="aRedesFooter">
                    <i class="fa-brands fa-youtube icono-youtube"></i>
                </a>
                <a href="" class="aRedesFooter">
                    <i class="fa-brands fa-x-twitter icono-twitter"></i>
                </a>
            </div>
        </div>
        <div class="chatFooter">
            <a href="" class="btnChatFooter">
                <i class="fa-solid fa-comment"></i>
            </a>
        </div>
    </footer>

    <script src="script.js"></script> <!-- Enlaza tu archivo JavaScript -->
</body>

</html>