<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="MobileOptimized" content="width=device-width, initial-scale=1.0">
        <title>Isabel Bicicleteria - Home</title>

        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/productDetail.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <%- include('./partials/header') %>
        <main class="mainHome">

            <nav class="sub-Section">
                <a href=""> Productos </a>
                <span class="divider"> > </span>
                <a href="">Categoria</a>
                <span class="divider"> > </span>
                <a href="">Sub-categoria</a>
            </nav>

            <div class="titleContainer">
                <p class="nombre">Inflador Giyo de pie</p>
                <form>
                    <input id="heart" type="checkbox" />
                    <label for="heart"><i class="fa-solid fa-heart"></i></i></label>
                </form>
            </div>
            
            <div class="section1">
                <div class="imageContainer"> 
                    <img src="../images/inflador.jpg"  alt="inflador" width="100%">
                </div>

                <div class="detailSection">

                    <div class="precio">
                        <p>$14.000 ARS</p>
                         <span class="impuestos">$11.060  ARS precio sin impuestos</span>
                    </div>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <span>(12)</span>
                    </div>

                    <div class="stockSection">
                        <p>Cantidad</p>
                        <div class="cantidad">
                            <input type="number" placeholder="1" step="1" min="1" max="10" id="number"/>
                        </div>
                    </div>

                    <div class="pickColorContainer">
                        <div class="Color">
                            <p>Elegí el color:</p>
                        </div>
                        <select name="pickColor" class="changeColor">
                            <option value="black">Negro</option>
                            <option value="red">Rojo</option>
                            <option value="green">Verde</option>
                        </select>
                    </div>
    
                    <a href="/carrito">
                        <div class="addToCart">
                            <p href="/carrito" class="containerCart">
                                <i class="fa-solid fa-cart-shopping"></i>AGREGAR AL CARRITO
                            </p>
                        </div>
                    </a>
    
                    <div class="infoContainer">
                        <p class="available">
                            <i class="fa-solid fa-circle-check"></i> Disponible
                        </p>
                        <p>
                            <i class="fa-solid fa-truck"></i> Envío de 3 a 4 días hábiles
                        </p>
                    </div>
                    
                    <div class="shortDescription">Tipo adaptativo para:
                        <ul class="listDescription">
                            <li>Moto</li>
                            <li>Bicicletas</li>
                            <li>Autos</li>
                        </ul>
                    </div>
                </div>

            </div>

            

            <div class="acordeon">
                <details class="productDetailContainer">
                    <summary>Detalles del Productos
                        <div id="arrows">
                            <i class="fa-solid fa-arrow-down"></i>
                        </div>
   
                    </summary>
                    <div class="contenido">Marca : GIYO
                        <li>Modelo: GF35-P</li>
                        <p>Cuerpo de acero. Válvula presta y schrader con traba (compatible ambos picos). Manija ergonómica. Medidor de presión en la base.
                        </p>
                    </div>
                </details> 
                <details class="medidasContainer">
                    <summary>Tamaño y medidas
                        <div id="arrows">
                            <i class="fa-solid fa-arrow-down"></i>
                        </div>
                    </summary>
                    <div class="contenido">Mango de 23 cm. Color: Plata y negro. Base plástica 24 cm. Peso: 850 gr Largo: 56 cm. 160 PSI (máximo)</div>
                </details>
                <details class="reseñasContainer">
                    <summary>Reseñas
                        <div id="arrows">
                            <i class="fa-solid fa-arrow-down"></i>
                        </div>
                    </summary>
                    <div class="contenido">El Inflador Giyo Bomba Taller con manómetro 160 psi amarillo es un potente inflador con el que podrás inflar ruedas de cualquier tamaño y presión. Especialmente indicado para inflar ruedas de bicicletas de carretera que necesitan mayor presión de inflado, aunque también podrás inflar ruedas de bicicletas de montaña, bicicletas infantiles, ruedas de carros, sillas de ruedas, etc…</div>
                </details>
                
            </div>

            <div class="punctuationStars">
                <p>Puntuá este producto:</p>
                <form>
                    <div class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1"><i class="fa-solid fa-star"></i></label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2"><i class="fa-solid fa-star"></i></label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3"><i class="fa-solid fa-star"></i></label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4"><i class="fa-solid fa-star"></i></label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5"><i class="fa-solid fa-star"></i></label>
                    </div>
                </form>
                <a class="sendStars">
                    <p class="containerStars">
                        Enviar
                    </p>
                </a>
            </div>
            

            <div class="prodRelacionados">

                <p class="titleProdRel">Productos relacionados</p>
            
                <div class="seccionImagenes">
            
                    <article class="fondoCompartido">
                        <div class="fondoImg">
                            <a href="/"><img class="imgRel" src="../images/LUZ.jpg" alt="luz-delantera"></a>
                        </div>
                        <div class="subTitle">
                            <a href="/"> Luz delantera</a>
                            <p>Tipo mini</p>
                            <p>$4.000 ARS</p>
                        </div>
                    </article>

                    <article class="fondoCompartido">
                        <div class="fondoImg">
                            <a href="/"><img class="imgRel" src="../images/wethepeople.jpg" alt="wtp"></a>
                        </div>
                        <div class="subTitle">
                           <a href="/">BMX WeThePeople R20</a>
                           <p>Nova 2021 Black</p>
                           <p>$184.400 ARS</p>
                        </div>
                    </article>

                    <article class="fondoCompartido">
                        <div class="fondoImg">
                            <a href="/"><img class="imgRel" src="../images/CAJA.jpg" alt="caja-shimano"></a>
                        </div>
                        <div class="subTitle">
                            <a href="/">Caja First Hollowtech</a>
                            <p>a rulemanes</p>
                            <p>$12.300 ARS</p>
                        </div>
                    </article>

                    <article class="fondoCompartido">
                        <div class="fondoImg">
                            <a href="/"><img class="imgRel" src="../images/rodado-29-shimano31.jpeg" alt="sars29"></a>
                        </div>
                        <div class="subTitle">
                            <a href="/">MTB SARS R29</a>
                            <p>Big Shark 2x9 Vel</p>
                            <p>$568.970 ARS</p>
                        </div>
                    </article>
            
                </div>

            </div>    
        </main>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
