* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


main {
    font-family: Roboto;
    background-color: #f6f6f6;
    color: #272727;
    font-style: normal;
}

.aMenuCarrito {
    margin-right: 1rem;
    text-decoration: none;
    color: #272727;
    font-weight: 500;
}

.main-carrito h1 {
    padding: 2rem 2rem 1rem 2rem;
    font-weight: 700;
    color: #434343;
    text-align: center;
    font-size: 20px;
}

.main-carrito h3 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #9C9C9C;
    text-align: center;
    font-family: Roboto;
    font-size: 10px;
    padding: 0 2rem 1rem 2rem;
}

.main-carrito h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #434343;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.link-producto {
    text-decoration: none;
}

.main-carrito p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: left;
    color: #9C9C9C;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 6px;
}

.seccion-carrito {
    justify-content: center;
    display: flex;
}

.contenedor-pedido {
    height: 15rem;
    justify-content: center;
}

.contenedor-pedido article {
    flex-shrink: 0;
    background-color: #ffffff;
}

.cantidad-selector {
    text-align: left;
    width: 50px;
    height: 21px;
    flex-shrink: 0;
    margin-top: 6px;
    font-size: 9px;
}

.cantidad-selector input {
    font-size: 12px;
    height: 30px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid #D0C8E0;
    text-align: center;
}

.descuento {
    color: #D0C8E0;
}

.h3-pedido {
    margin-bottom: 1.5rem;
}

.articulo {
    display: flex;
    background-color: white;
    border-radius: 7px;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 0.5rem;
    border-top: 2px solid #f6f6f6;
}

.articulo button {
    background-color: #3B82BF;
    color: #FFF;
    border-radius: 7px;
    height: 31px;
    width: 140px;
    font-size: 12px;
    font-weight: 900;
    position: relative;

}

.imagen {
    width: 35%;
    height: 100%;
}

.imagen img {
    width: 100%;
    height: 80%;
    margin: auto;
}

.descripcion {
    width: 45%;
}

.precio {
    width: 20%;
    align-self: flex-start;
    justify-content: end;
    display: flex;
    flex-direction: column;
    position: relative;

}

.precio i {
    position: absolute;
    right: 0;
    ;

}

.precio-parrafo {
    top: 70px;
    position: relative;
    left: 10px;
    font-size: 13px;
    text-align: center;
}

.descuento {
    position: relative;
    right: 0;
    top: 70px;
    left: 10px;
    font-size: 11px;
    text-align: center;

}

.articulo img {
    height: 7rem;
    padding: 1rem;
    border-radius: 7px;
    justify-content: center;
}

.total-final {
    color: #434343
}

.descuento-aplicado p {
    color: #D0C8E0;
}

.devoluciones {
    background-color: #F6F6F6;
    font-weight: 400;
    color: #9C9C9C;
    font-size: 12px;
    cursor: pointer;
    padding: 0.5rem;
}

.metodos-de-pago {
    background-color: #F6F6F6;
    font-weight: 400;
    color: #9C9C9C;
    font-size: 12px;
    cursor: pointer;
    padding: 0.5rem;
}

.compras h2 {
    display: flex;
    color: #434343;
    font-weight: 700;
    line-height: normal;
    font-size: 15px;
    padding-top: 1rem;
}

.entrega {
    background-color: #F6F6F6;
    font-weight: 400;
    color: #9C9C9C;
    font-size: 12px;
    cursor: pointer;
    padding: 0.5rem;
}

.compras {
    display: flex;
    background-color: #F6F6F6;
    border-radius: 7px;
    width: 300px;
    margin: auto;
}

.lista-compras {
    padding: 0.2rem;
    background-color: #F6F6F6;
}

.compras ul {
    list-style: none;
    padding-left: 0.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}