* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: Roboto;
    background-color: #f6f6f6;
    color: #272727;
    font-style: normal;
}

header {
    height: 60px;
    width: 100%;
}

.headerContainer {
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    border-bottom: 1px solid #ECECEC;
    background: #FFF;
    height: 60px;
    width: 100%;
}

.headerLogo {
    width: 50%;
}

.headerLogo img {
    width: 125px;
    margin-left: 0.5rem;
}

.headerUser {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.headerUserLink {
    color: #8A97CA;
    margin-right: 0.7rem;
    font-size: 18px;
}

.userButton {
    background-color: #00000000;
    border: 0;
    color: #8A97CA;
    margin-right: 0.7rem;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.p-user {
    display: none;
}

.headerNav {
    display: none;
}

.headerSearch {
    display: none;
}

.a-volver {
    color: #434343;
    font-weight: 500;
    text-decoration: none;
}

.a-volver i {
    margin-right: 0.5rem;
}

.a-volver:hover {
    text-decoration: underline;
}

/* header */

main{
    font-family: Roboto;
}
.main-carrito h1 {
    padding: 1rem;
    font-weight: 700;
    color: #434343;
    text-align: center;
    font-size: 20px;
}

.main-carrito h3 {
    color: #9C9C9C;
    text-align: center;
    font-family: Roboto;
    font-size: 10px;
    padding: 0 2rem 1rem 2rem;
}

.nombre-producto {
    color: #434343;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.descripcion-producto{
    color: #9C9C9C;
}

.envio{
    color:#9C9C9C;
}

.link-producto {
    text-decoration: none;
}

.main-carrito p {
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 6px;
}


.cantidad-selector {
    text-align: left;
    width: 50px;
    height: 21px;
    margin-top: 6px;
    font-size: 9px;
}

.cantidad-selector input {
    font-size: 12px;
    height: 30px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid #D0C8E0;
    text-align: center;
}

.descuento {
    color: #D0C8E0;
    text-decoration:line-through;
}

.articulo {
    display: flex;
    background-color: white;
    border-radius: 7px;
    align-items: center;
    width: 20rem;
    margin: 1rem;
    padding: 0.5rem;
    border-top: 2px solid #f6f6f6;
}

.articulo-en-el-carrito {
    background-color: white;
    border-radius: 7px;
    padding: 0.5rem;
    border-top: 2px solid #f6f6f6;
    margin: 1rem;
}

.articulos-carrito{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}


.articulo-en-el-carrito button {
    background-color: #3B82BF;
    color: #FFF;
    border-radius: 7px;
    padding: 6px;
    width: 6rem;
    font-size: 10px;
    font-weight: bold;

}

.imagen {
    width: 35%;
}

.precio {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.precios-sin-boton-eliminar{
    margin-top: 1rem;
}

.precio-parrafo {
    font-size: 13px;
}

.descuento {
    font-size: 11px;
    text-align: center;
}

.articulo img {
    padding: 1rem;
    border-radius: 7px;
    justify-content: center;
    width: 10rem;
}

.precio-final-y-boton .total-final {
    color: #434343;
    font-size: 12px;
}

.descuento-aplicado {
    display: flex;
    justify-content: space-between;
    color: #9C9C9C;
}

.descuento-final{
    text-decoration: line-through;
}

.precio-final-y-boton{
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
    font-size: 12px;
    margin-top: 4px;
}


main {
    flex-wrap: wrap;
}

.metodos-de-pago {
    background-color: white;
    padding: 40px;
    font-weight: 800;
    color: #9C9C9C;
    font-size: 12px;
    cursor: pointer;
    padding: 0.5rem;
}

.devoluciones {
    background-color: #F6F6F6;
    font-weight: 400;
    color: #9C9C9C;
    font-size: 12px;
    cursor: pointer;
    padding: 0.5rem;
}

.metodos-de-pago {
    background-color: #F6F6F6;
    font-weight: 400;
    color: #9C9C9C;
    font-size: 12px;
    cursor: pointer;
    padding: 0.5rem;
}

.compras h2 {
    display: flex;
    color: #434343;
    font-weight: 700;
    line-height: normal;
    font-size: 15px;
    padding-top: 0.5rem;
}

.compras a {
    text-decoration: none;
}
.compras.seguras{
    
    border-radius: 7px;
    padding: 0.5rem;
    border-top: 2px solid #f6f6f6;
    margin: 1rem 0 1rem 1rem 0;
}
.contenedor-pedido {
    font-size: 20px;
    text-align: center;
}

.entrega {
    background-color: #F6F6F6;
    font-weight: 400;
    color: #9C9C9C;
    font-size: 12px;
    cursor: pointer;
    padding: 0.5rem;
}


.compras {
    display: flex;
    background-color: #F6F6F6;
    border-radius: 7px;
    width: 100%;
    height: auto;
    margin: 1rem 0 1rem 1rem;
}

.compras li {
    margin: auto;
}

.lista-compras {
    padding: 0.2rem;
    background-color: #F6F6F6;
    font-size: 21px;
}


.compras ul {
    list-style: none;
    padding-left: 0.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.contenedor-pedido h2 {
    margin: 1rem 0 1.5rem 2rem;
    color: #434343;
}
.contenedor-productos{
    flex-wrap: wrap;
}
@media (min-width: 1200px) {

    .contenedor-todo{
        display: flex;
        flex-direction: column;
    
    }

    .contenedor-sin-compras-seguras{
        display: flex;
        flex-direction: column;
    }

.contenedor{
    display: flex;
    width: 80%;
}

.contenedor-sin-boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80rem;
}

.contenedor-sin-cs-ni-titulos{
    display: flex;
    justify-content: center;
}

    .precio-parrafo{
        text-align: center;
    }

    .boton-eliminar a i{
        position: relative;
        left: 45px;
    }

    .compras ul {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }

    .articulo {
        margin: 0 10px;
        width: 100%;
        align-items: center;
        font-size: 18px;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
    }

    .articulo-en-el-carrito {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 10px;
        font-size: 18px;
        margin-left: 1.5rem;
        height: 10rem;
        width: 23rem;
        margin-top: 2rem;
    }

    .compras a {
        font-weight: 100;
        font-size: large;
        font-synthesis: style;
    }

    .articulo img {
        height: 10rem;
        width: 10rem;
        align-items: center;
        margin-left: 1rem;
    }

    .precio{
        display: flex;
    }
}
@media(min-width: 768px){
    .contenedor{
        width: auto;
    }
.contenedor-sin-boton{
    flex-wrap: wrap;
    width: 100%;
    max-width: none;
}
.compras.seguras{
    width: 100%;
    max-width: none;
    margin: 0;
}
.compras{
    width: 100%;
}
}


/* footer */


footer {
    width: 100%;
    height: 198px;
    background: #FFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footerRedes {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerRedes a {
    color: #434343;
    margin: 0 0.5rem 0 0.5rem;
    transition: 0.3s all;
}

.footerRedes a:hover {
    color: #A88AF0;
}

.footerRedes i {
    font-size: 30px;
}

.footerContacto {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerContactoH3 {
    margin-left: 0.5rem;
    font-size: 16px;
}

.btnFooterContacto {
    margin-left: 0.5rem;
    width: 125px;
    border: 0;
    margin-top: 0.3rem;
    height: 40px;
    font-weight: 600;
    color: #434343;
    border-radius: 5px;
    background-color: #D0C8E0;
}

.footerChat {
    width: 50%;
    height: 30px;
    height: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btnChat {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    color: #D0C8E0;
    text-decoration: none;
    background-color: #3A3A3A;
}

@media(min-width: 768px) {
    header {
        height: 140px;
        width: 100%;
    }

    .headerContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 140px;
        width: 100%;
    }

    .headerLogo {
        width: 25%;
        height: 70%;
        display: flex;
        align-items: center;
    }

    .headerLogo img {
        width: 160px;
        margin-left: 0.5rem;
    }

    .headerUser {
        width: 25%;
        height: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .a-user {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .a-user:hover p {
        text-decoration: underline;
    }

    .p-user {
        display: block;
        margin-left: 0.5rem;
        font-size: 15px;
        font-weight: 500;
    }

    .userButton {
        display: none;
    }

    .headerUserLink {
        color: #8A97CA;
        font-size: 24px;
        transition: 0.3s all;
    }

    .headerUserLink:hover {
        color: #7580ac;
    }

    .headerNav {
        width: 75%;
        height: 30%;
        display: flex;
    }

    .headerNav ul {
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: center;
    }

    .headerNav ul li {
        margin: 0 0.3rem 0 0.3rem;
    }

    .navLink {
        color: #434343;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        transition: 0.3s all;
    }

    .navLink:hover {
        color: #181818;
        text-decoration: underline;
    }

    .headerSearch {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 70%;
    }

    .headerSearch form {
        width: 100%;
        position: relative;
    }

    .inputSearch {
        width: 100%;
        margin: auto;
        height: 40px;
        padding: 0 0.5rem 0 2rem;
        border-radius: 5px;
        border: 1px solid #8A97CA;
        background: #FFF;
        outline: none;
    }

    .i-search {
        position: absolute;
        left: 8px;
        top: 11px;
        color: #8A97CA;
    }

    footer {
        width: 100%;
        height: 200px;
    }

    .footerRedes {
        width: 25%;
        height: 100%;
    }

    .footerRedes a i {
        font-size: 32px;
    }

    .footerContacto {
        width: 25%;
        height: 100%;
        order: -1;
    }

    .footerContactoH3 {
        font-size: 19px;
    }

    .btnFooterContacto {
        cursor: pointer;
        width: 155px;
        font-size: 14px;
        height: 45px;
        transition: 0.3s all;
    }

    .btnFooterContacto:hover {
        color: white;
        background-color: #A88AF0;
    }

    .footerChat {
        width: 25%;
        height: 100%;
    }

    .btnChat {
        width: 52px;
        height: 52px;
        font-size: 20px;
        transition: 0.3s all;
    }

    .btnChat:hover {
        background-color: #181818;
        color: #A88AF0;
    }

    .btnChat i {
        position: relative;
        top: 2px;
    }

    .headerNav ul li {
        margin: 0 0.5rem 0 0.5rem;
    }

    .footerRedes a i {
        font-size: 35px;
    }
}