@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    color: #434343;
}

.banner{
    display: flex;
}

.banner img{
    width: 100vw;
}

.contenedor-categorias{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-categorias img{
    width: 6rem;
    margin: 1rem;
    opacity: 0.3;
}

.categorias{
    position: relative;
}

.categorias h3{
    position: absolute;
    top: 3.1rem;
    left: 1.4rem;
}

.seccion-productos{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.encabezados{
    display: flex;
    justify-content: space-between;
    margin-left: 7px;
}

.encabezados h2{
    font-size: 22px;
}

.encabezados a{
    font-size: 13px;
    padding-top: 5px;
    color: #A88AF0;
    font-weight: bold;
}

.grupo-articulos{
    display: flex;
    margin: 1rem;
    margin-top: 1.5rem;
    overflow-x: scroll;
}

.grupo-articulos a{
    text-decoration: none;
    color: #434343;
}

article{
    margin-right: 1.4rem;
    display: flex;
    flex-direction: column;
}

article img{
    width: 7rem;
}

.detalle-productos{
    width: 7rem;
    display: flex;
    flex-direction: column;
}

.nombre-producto{
    font-size: 15px;
    margin: 0.2rem 0;
    height: 2rem;
    width: 7rem;
}

.descripcion{
    font-size: 15px;
    opacity: 0.8;
    height: 4.5rem;
    width: 7rem;
}

.precio{
    font-size: 15px;
    margin-top: 5px;
}

.anuncio-promo{
    display: flex;
    margin-top: 1rem;
    padding-left: 0.5rem;
    background-color: #f6f6f6;
    justify-content: space-around;
}

.textos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
}

.super-promo{
    font-size: 18px;
}

.descuento{
    font-size: 40px;
    padding-left: 1rem;
    color:#A88AF0;
}

.productos-seleccionados{
    font-weight: normal;
    font-size: 13px;
}

.imagen-sale{
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen-sale img{
    width: 9rem;
}

.imagen-sale a{
    padding-left: 2.5rem;
    color:#434343;
    font-size: 13px;
}

.encabezados .explorar-productos{
    font-size: 11px;
}

@media (min-width: 768px){
    .banner img{
        width: 75vw;
        margin: 1.5rem auto;
    }

    .seccion-productos{
        width: 75vw;
        margin: 2rem auto;
    }

    .anuncio-promo{
        width: 75vw;
        margin: 2rem auto;
        border-radius: 5px;
    }

    .super-promo{
        font-size: 25px;
    }
    
    .descuento{
        font-size: 54px;
    }
    
    .productos-seleccionados{
        font-size: 20px;
    }
}

@media(min-width: 1060px){
    .categorias img{
        width: 10rem;
    }

    .categorias h3{
        top: 5.3rem;
        left: 3.7rem;
    }
}