@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

/* ************* Main ************* */
.mainHome{
    height: auto;
    padding: 25px;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.titleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nombre{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}

/* corazon */

[id="heart"] {
    position: absolute;
    left: -100vw;
}
  
[for="heart"] {
    color: #aab8c2;
    cursor: pointer;
    font-size: 1.5em;
    align-self: center;  
    transition: color 0.2s ease-in-out;
}
  
[for="heart"]:hover {
    color: grey;
}
  
[for="heart"]::selection {
    color: none;
    background: transparent;
}
  
[for="heart"]::moz-selection {
    color: none;
    background: transparent;
}
  
[id="heart"]:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}

/* fin corazon */

.imageContainer{
    background-color: #ffffff;
    width: 90vw;
    height: auto;
    display: flex;
    border:#54545450 1px solid;
}


/* seccion de precio, detalles y otros */
.detailSection{
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.precio{
    font-size: 30px;
    font-weight: 600;
}

.impuestos{
    font-size: medium;
    font-weight: lighter;
    color:#595959;
    margin-bottom: 15px;
}

.stars{
    font-weight: 100;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.pickColorContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 1px #aeaeae solid;
    border-radius: 0.4rem;
    padding: 5px;
    margin-bottom: 15px;
    width: 270px;
}

.Color{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.changeColor{
    display: flex;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-right: 50px;
    background-color: white;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor:pointer;
    margin-bottom: 15px;
}


.addToCart{
    font-weight: bold;
    font-size: small;
    color: white;
    background-color: #3B82BF;
    border-radius: 0.4rem;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: 270px;
}



.addToCart:hover{
    background-color: #000000;
    transition: 0.3s linear;
    cursor: pointer;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: #595959;
    margin-bottom: 15px;
}
.available{
    font-weight: lighter;
    font-size: 15px;
    color: rgb(75, 212, 75);
}
.shortDescription{
    font-size: 100px;
    font-weight: 500;
    font-size: 20px;
    color:#595959;
}
.listDescription{
    list-style: none;
    font-size: 75px;
    font-weight: 400;
    font-size: 15px;
    color:#aeaeae;
}
/* fin de seccion de detalles */

.acordeon{
    padding: 10px;
    cursor: pointer;
    list-style: none;
}
summary{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productDetailContainer{
    background-color: white;
    border-top: 1px #aeaeae solid;
    width: 100%;
    padding: 40px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

.medidasContainer{
    background-color: white;
    border-top: 1px #aeaeae solid;
    width: 100%;
    padding: 40px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

.reseñasContainer{
    background-color: white;
    border-top: 1px #aeaeae solid;
    border-bottom: 1px #aeaeae solid;
    padding: 40px;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

.contenido{
    width: 100%;
    padding: 20px;
    font-weight: 100;
    font-size: 15px;
    text-align: left;
}

/* fin parte de la desc. prod. */

.prodRelacionados{
    background-color: white;
    width: 95%;
    padding: 40px;
    font-weight: 800;
    font-size: 30px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleProdRel{
    display: flex;
    justify-items: center;
    margin-bottom: 20px;
}



.seccionImagenes{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}

.fondoCompartido{
    border: #D0C8E0 1px solid;
    border-radius: 0.2em;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
}

/* .fondoImg{
    border: #595959 1px solid;
    width: 210px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 10px;
} */

.fondoCompartido:hover{
    box-shadow: 0px 0px 10px rgb(32, 32, 32);
}

.subTitle{
    font-size: 20px;
}

.subTitle p{
    font-weight: 300;
    font-size: 20px;
    color: #595959;
}

/* ************ Footer ************ */
.footerContainer {
    height: 12rem;
    display: flex;
    align-items: center;
}
.ayudaFooter {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h4AyudaFooter {
    font-size: 20px;
    color: #595959;
}
.btnAyudaFooter {
    background-color: #595959;
    border-radius: 0.5rem;
    margin-top: 0.7rem;
    color: #ededed;
    font-weight: 800;
    width: 11rem;
    height: 2.7rem;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s all;
}
.btnAyudaFooter:hover {
    background-color: #000000;
    color: #ffffff;
}
.redesFooter {
    width: 33.3%;
    display: flex;
    justify-content: center;
}
.divRedesFooter {
    width: 15rem;
    display: flex;
    justify-content: center;
}
.aRedesFooter {
    margin: 0 0.8rem 0 0.8rem;
    color: #595959;
    font-size: 30px;
    transition: 0.2s all;
}
.aRedesFooter i {
    transition: 0.2s all !important;
}
.icono-instagram:hover {
    color: #f16169;
}
.icono-facebook:hover {
    color: #3a559f;
}
.icono-youtube:hover {
    color: #ed3434;
}
.icono-twitter:hover {
    color: #38b9fb;
}
.chatFooter {
    width: 33.3%;
    display: flex;
    justify-content: center;
}
.btnChatFooter {
    color: #ededed;
    font-size: 24px;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    background-color: #595959;
    transition: 0.2s all;
}
.btnChatFooter:hover {
    background-color: #000000;
    color: #ffffff;
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .subTitle p{
        display: none;
    }

    .fondoCompartido{
        border: #D0C8E0 1px solid;
        border-radius: 0.2em;
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .pickColorContainer{
        width: 250px;
    }
    .addToCart{
        width: 250px;
    }
}


/* TABLETS PORTRAIT */
@media only screen and (min-width: 481px) and (max-width: 768px ) {
    .subTitle p{
        display: none;
    }
    .imageContainer{
        max-width: 450px;
        height: auto;
        align-self: center;
    }
    .detailSection{
        min-height: auto;
        display: block;
        background-color: #ffffff;
        padding: 20px;
        margin: 10px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-self: center;
    }
}


/* TABLET LANDSCAPE / SMALL-DESKTOP´S */
@media only screen and (min-width: 769px) and (max-width: 1024px ){
    .section1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .nombre{
        display: flex;
        align-self: flex-end;
    }
    
} 

/* DESKTOP */

@media only screen and (min-width: 1025px){
    .titleContainer{
        align-self: center;
        justify-content: space-around;
    }

    [for="heart"] {
        font-size: 3em;
    }

    .section1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .imageContainer{
        width: 800px;
        height: auto;
    }
    .detailSection{
        min-width: 500px;
        min-height: auto;
        display: block;
        background-color: #ffffff;
        padding: 20px;
        margin: 10px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: solid 1px #aeaeae;
        border-radius: 0.2rem;
    }

    .nombre{
        font-weight: 700;
        font-size: 30px;
    }
    
    .precio{
        font-size: 50px;
        font-weight: 600;
    }
    
    .impuestos{
        font-size: medium;
        font-weight: lighter;
        color:#595959;
    }
    
    .stars{
        font-weight: 100;
        display: flex;
        flex-direction: row;
    }
    
    .pickColorContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border: 1px #aeaeae solid;
        border-radius: 0.4rem;
        padding: 5px;
        width: 100%;
    }
    
    .Color{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }
    
    .changeColor{
        display: flex;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        margin-right: 50px;
        background-color: white;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        cursor:pointer;
        margin-bottom: 15px;
    }
    
    
    .addToCart{
        font-weight: bold;
        font-size: small;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: white;
        background-color: #3B82BF;
        border-radius: 0.4rem;
        padding: 15px;
        width: 100%;
    }
    
    
    
    .addToCart:hover{
        background-color: #000000;
        transition: 0.3s linear;
        cursor: pointer;
    }
    
    .infoContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 15px;
        color: #595959;
    }
    .available{
        font-weight: lighter;
        font-size: 15px;
        color: rgb(75, 212, 75);
    }
    .shortDescription{
        font-size: 100px;
        font-weight: 500;
        font-size: 20px;
        color:#595959;
    }
    .listDescription{
        list-style: none;
        font-size: 75px;
        font-weight: 400;
        font-size: 15px;
        color:#aeaeae;
    }

    .medidasContainer{
        width: 50%;
    }
    .reseñasContainer{
        width: 50%;
    }
    .productDetailContainer{
        width: 50%;
    }


} 