@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

/* ************ Footer ************ */
.headerContainer {
    color: #595959;
    position: fixed;
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logoHeader {
    width: 30%;
    display: flex;
    justify-content: center;
}
.logoHeader h2 a {
    font-size: 22px;
    color: #595959;
    transition: 0.2s all;
    text-decoration: none;
}
.logoHeader h2 a:hover {
    color: #000000;
}

.searchHeader {
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
}
.inputSearch {
    width: 100%;
    height: 1rem;
    border: 2px solid #aeaeae;
    padding: 1.2rem 1.2rem 1.2rem 2.1rem;
    border-radius: 2rem;
}
.inputSearch:focus {
    outline: 0;
    border: 2px solid #545454;
}
.icono-search {
    position: absolute;
    left: 0.65rem;
    top: 0.75rem;
    font-size: 18px;
}

.userHeader {
    width: 30%;
    display: flex;
    justify-content: center;
}
.a-user {
    display: flex;
    justify-content: center;
    position: relative;
    color: #595959;
    text-decoration: none;
    transition: 0.2s all;
}
.a-user:hover {
    color: #000000;
}
.a-user:hover .contador-user {
    background-color: #000000;
    color: #ffffff;
}
.a-user:hover .p-login {
    text-decoration: underline 1px solid black;
}
.icono-user {
    font-size: 24px;
    margin-left: 1.5rem;
}
.contador-user {
    position: absolute;
    font-size: 10px;
    width: 1.1rem;
    padding: 0.09rem;
    text-align: center;
    height: 1.1rem;
    background-color: #595959;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    top: -10px;
    right: -9px;
    transition: 0.2s all;
}
.p-login {
    position: relative;
    left: 0.4rem;
    top: 0.2rem;
}
.menuHeader {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}
.listaMenu {
    display: flex;
    width: 40rem;
    list-style: none;
    justify-content: space-evenly;
}

.linkMenu {
    color: #595959;
    text-decoration: none;
    font-weight: 500;
    transition: 150ms color;
}
.linkMenu:hover {
    color: #000000;
}
/* ************* Main ************* */
.mainRegister {
    height: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}
/* .input-grupo {
    display: flex;
    flex-direction: column;
} */

form {
    position: relative;
    width: 50%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 8rem; /* Altura del header */
    z-index: 1; /* asegurar de que el formulario tenga un índice z mayor que el header */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #000000;
}

.input-grupo {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    margin-top: 5px;
}

.iconoFormulario{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 18px;
    color: #595959;
}

.btn {
    background-color: #595959;
    color: #ededed;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #000000;
}

.input-container input::placeholder {
    color: #aeaeae;
}
h2 {
    font-size: 18px;
    color: #000000;
    margin-bottom: 8px;
}


/* ************ Footer ************ */
.footerContainer {
    height: 12rem;
    display: flex;
    align-items: center;
}
.ayudaFooter {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h4AyudaFooter {
    font-size: 20px;
    color: #595959;
}
.btnAyudaFooter {
    background-color: #595959;
    border-radius: 0.5rem;
    margin-top: 0.7rem;
    color: #ededed;
    font-weight: 800;
    width: 11rem;
    height: 2.7rem;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s all;
}
.btnAyudaFooter:hover {
    background-color: #000000;
    color: #ffffff;
}
.redesFooter {
    width: 33.3%;
    display: flex;
    justify-content: center;
}
.divRedesFooter {
    width: 15rem;
    display: flex;
    justify-content: center;
}
.aRedesFooter {
    margin: 0 0.8rem 0 0.8rem;
    color: #595959;
    font-size: 30px;
    transition: 0.2s all;
}
.aRedesFooter i {
    transition: 0.2s all !important;
}
.icono-instagram:hover {
    color: #f16169;
}
.icono-facebook:hover {
    color: #3a559f;
}
.icono-youtube:hover {
    color: #ed3434;
}
.icono-twitter:hover {
    color: #38b9fb;
}
.chatFooter {
    width: 33.3%;
    display: flex;
    justify-content: center;
}
.btnChatFooter {
    color: #ededed;
    font-size: 24px;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    background-color: #595959;
    transition: 0.2s all;
}
.btnChatFooter:hover {
    background-color: #000000;
    color: #ffffff;
}
