<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkCart"
    aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Carrito de compras</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul id="ul-cart" style="min-height: 80%; max-height: 80%; overflow-y: auto;" class="navbar-nav flex-grow-1 pe-3 ul-cart">
            
        </ul>
        <div style="height: 20%; text-align: center; gap: 20px;" class="d-flex align-items-center justify-content-center">
            <h4 id="cart-price-total" style="font-size: 20px; margin-bottom: 0;"></h4>
            <button class="btn btn-success p-3">Finalizar compra</button>
        </div>
    </div>
</div>