<footer>
    <div class="footerRedes">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="footerContacto">
        <h3 class="footerContactoH3">Necesitas ayuda?</h3>
        <button class="btnFooterContacto">Contáctanos</button>
    </div>
    <div class="footerChat">
        <a class="btnChat" href=""><i class="fa-solid fa-message"></i></a>
    </div>
</footer>

<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/alert.js"></script>