<header>
    <nav class="nav-desktop">
        <div class="headerLogo">
            <a href="/"><img src="/icon/logo.svg" alt="logo" /></a>
        </div>
        <div class="headerSearch">
            <form  action="/search">
                <input class="inputSearch" type="search" name="q" placeholder="Buscar productos" />
                <i class="fa-solid fa-magnifying-glass i-search"></i>
            </form>
        </div>
        <div class="headerUser">
            <button class="userButton">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <a href="/carrito" class="headerUserLink a-carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <% if (user) { %>
                    <div>
                        <img class="headerIconUser" src="/images/userProfile/<%= user.profile_img %>" alt="">
                    </div>
                    <a class="nav-link dropdown-toggle linkAccount linkUser" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mi cuenta</a>
                    <ul class="dropdown-menu bg-dark">
                        <form action="/salir" method="POST" class="formAlert">
                            <input class="dropdown-item text-bg-dark linkUser btnAlert" style="color: rgb(186, 72, 72)!important; font-size: 16px;" type="submit" value="Cerrar sesión"></input>
                        </form>
                    </ul>
                
                <% } else{ %>
                    <a href="/login" class="headerUserLink a-user">
                        <i class="fa-regular fa-user"></i>
                        <p class="p-user linkAccount">Iniciar Sesión</p>
                    </a>
                    <%} %>

                        <button class="userButton">
                            <i class="fa-solid fa-bars"></i>
                        </button>
        </div>
        <div class="headerNav">
            <ul>
                <li>
                    <a href="/" class="navLink">Inicio</a>
                </li>
                <li>
                    <a href="/perfil" class="navLink">Perfil</a>
                </li>
                <li>
                    <a href="#" class="navLink">Mis compras</a>
                </li>
                <li>
                    <a href="/productos/crear" class="navLink">Añadir un producto</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-dark bg-dark fixed-top nav-mobile">
        <div class="container-fluid">
            <div class="headerLogo">
                <a href="/"><img src="/icon/logo.svg" alt="logo" /></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark offnavbar-mobile" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link link-mobile" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-mobile" href="#">Mis compras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-mobile" href="/productos/crear">Añadir un producto</a>
                        </li>
                        <% if (user) { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle link-mobile" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Mi cuenta
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item link-mobile" href="/carrito">Mi carrito</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <form action="/salir" method="POST" class="formAlert">
                                        <input class="dropdown-item linkUser btnAlert link-mobile" style="color: rgb(186, 72, 72)!important;" type="submit" value="Cerrar sesión"></input>
                                    </form>
                                </ul>
                            </li>
                        <% } else { %> 
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Iniciar sesión</a>
                            </li>
                        <% } %>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn" style="background-color: #a88af0;" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

</header>