<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= titulo %> - Isabel Bicicleteria
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">

    <link rel="stylesheet" href="/library/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/library/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/library/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <% if (estilo instanceof Array) { %>
        <% for( let i = 0; i < estilo.length; i++ ) { %>
            <link rel="stylesheet" href="/css/<%= estilo[i] %>.css" />
        <% } %>
    <% } else if (estilo) { %> 
        <link rel="stylesheet" href="/css/<%= estilo %>.css" />
    <%  }%>

</head>