<header>
    <div class="headerContainer">
        <div class="headerLogo">
            <a href="/"><img src="/icon/logo.svg" alt="logo" /></a>
        </div>
        <div class="headerSearch">
            <form action="">
                <input
                    class="inputSearch"
                    type="search"
                    placeholder="Buscar productos"
                />
                <i class="fa-solid fa-magnifying-glass i-search"></i>
            </form>
        </div>
        <div class="headerUser">
            <button class="userButton">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <a href="/carrito" class="headerUserLink a-carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <% if (user) { %>
                <a href="/profile" class="headerUserLink a-user">
                    <div>
                        <img class="headerIconUser" src="/images/userProfile/<%= user.avatar %>" alt="">
                    </div>
                    <div>
                        <p class="p-user"><%= user.name %></p>
                    </div>
                </a>
            <% } else{ %>
                <a href="/login" class="headerUserLink a-user">
                    <i class="fa-regular fa-user"></i>
                    <p class="p-user">Iniciar Sesión</p>
                </a> <%}
                %>
            <button class="userButton">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <nav class="headerNav">
            <a class="a-volver" href="/"
                ><i class="fa-solid fa-arrow-left"></i>Volver a la tienda</a
            >
        </nav>
    </div>
</header>
