<header>
    <div class="headerContainer">
        <div class="headerLogo">
            <a href="/"><img src="/icon/logo.svg" alt="logo" /></a>
        </div>
        <div class="headerSearch">
            <form action="">
                <input
                    class="inputSearch"
                    type="search"
                    placeholder="Buscar productos"
                />
                <i class="fa-solid fa-magnifying-glass i-search"></i>
            </form>
        </div>
        <div class="headerUser">
            <button class="userButton">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <a href="/carrito" class="headerUserLink a-carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <% if (user) { %>
                <a href="/perfil" class="headerUserLink a-user">
                    <div>
                        <img class="headerIconUser" src="/images/userProfile/<%= user.avatar %>" alt="">
                    </div>
                    <p class="p-user"><%= user.name %></p>
                </a>
            <% } else{ %>
                <a href="/login" class="headerUserLink a-user">
                    <i class="fa-regular fa-user"></i>
                    <p class="p-user">Iniciar Sesión</p>
                </a> <%}
                %>
                
            <button class="userButton">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <nav class="headerNav">
            <ul>
                <li>
                    <a href="/" class="navLink">Inicio</a>
                </li>
                <li>
                    <a href="/categorias/bicicletas" class="navLink">Bicicletas</a>
                </li>
                <li>
                    <a href="/categorias/accesorios" class="navLink">Accesorios</a>
                </li>
                <li>
                    <a href="/categorias/indumentaria" class="navLink">Indumentaria</a>
                </li>
                <li>
                    <a href="/categorias/repuestos" class="navLink">Repuestos</a>
                </li>
                <li>
                    <a href="/" class="navLink">Nosotros</a>
                </li>
                <li>
                    <a href="/" class="navLink">Contacto</a>
                </li>
                <% if (user && user.admin == true) { %>
                    <li>
                        <a href="/productos/crear" class="navLink">Vender</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>
