<header>
    <div class="headerContainer">
        <div class="headerLogo">
            <a href="/"><img src="/icon/logo.svg" alt="logo" /></a>
        </div>
        <div class="headerSearch">
            <form action="">
                <input
                    class="inputSearch"
                    type="search"
                    placeholder="Buscar productos"
                />
                <i class="fa-solid fa-magnifying-glass i-search"></i>
            </form>
        </div>
        <div class="headerUser">
            <button class="userButton">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <a href="/carrito" class="headerUserLink a-carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <a href="/login" class="headerUserLink a-user">
                <i class="fa-regular fa-user"></i>
                <p class="p-user">Iniciar Sesión</p>
            </a>
            <button class="userButton">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <nav class="headerNav">
            <ul>
                <li>
                    <a href="/" class="navLink">Inicio</a>
                </li>
                <li>
                    <a href="/" class="navLink">Bicicletas</a>
                </li>
                <li>
                    <a href="/" class="navLink">Accesorios</a>
                </li>
                <li>
                    <a href="/" class="navLink">Indumentaria</a>
                </li>
                <li>
                    <a href="/" class="navLink">Repuestos</a>
                </li>
                <li>
                    <a href="/" class="navLink">Nosotros</a>
                </li>
                <li>
                    <a href="/" class="navLink">Contacto</a>
                </li>
                <li>
                    <a href="/productos/crear" class="navLink">Vender</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
