<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { titulo: 'Iniciar Sesión' , estilo: 'profile' }) %>

    <body>
        <%- include('../partials/header-cart', { user: user}) %>

            <main style="text-align: center;" class="">
                <div class="">
                    <h2 class="">¡Bienvenido <%= user.name %>!</h2>
                    <img style="width: 300px;" src="/images/userProfile/<%= user.avatar %>" alt="">
                </div>
            </main>

    </body>

</html>