<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { titulo: 'Iniciar Sesión' , estilo: 'login' }) %>

    <body>
        <%- include('../partials/header-user', { user: user}) %>

            <main class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">¡Bienvenido <%= user.name %>!</h2>
                                <img src="/images/userProfile/<%= user.avatar %>" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </main>

    </body>

</html>