<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head', {titulo: 'Registro Isabel Bicicleteria', estilo: 'register'}) %>

<body>
  <%- include('../partials/header-user') %>
  <main>
    <div class="container">
      <h2>Te damos la bienvenida a Isabel Bicicleteria</h2>
      <form action="/register" method="POST" enctype="multipart/form-data">
        <label for="">Nombre y Apellido:</label>
        <input type="text"  name="nombre" placeholder="Por ej: Juan Perez" required>
  
        <label for="">Fecha de Nacimiento:</label>
        <input type="date"  name="fecha_nacimiento" required>
  
        <label for="">Correo Electrónico:</label>
        <input type="email"  name="correo" required>
  
        <label for="">Contraseña:</label>
        <input type="password"  name="contrasena" required>
  
        <input type="submit">Continuar</input>
      </form>
  
      <div class="social-buttons">
        <button class="facebook">Iniciar sesión con Facebook</button>
        <button class="google">Iniciar sesión con Google</button>
      </div>
  
      <p class="login-link">¿Ya tienes cuenta? <a href="/login">Iniciar Sesión</a></p>
    </div>
  </main>

</body>
</html>