<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {titulo: 'Crear producto' , estilo: 'market' }) %>

  <body>
    <%- include('../partials/header-cart') %>
      <main>
        <div class="container-market">
          <!-- <h2 class="title-market">Creando un producto</h2> -->
          <form class="form-market" action="#" method="post">

            <div>
              <label for="nombre">Ingresa un nombre:</label>
              <input type="text" id="nombre" name="nombre" placeholder="Casco Generico" required>
            </div>

            <div>
              <label for="imagen">Inserta una imagen:</label>
              <input type="file" name="avatar" accept=".jpg" required>
            </div>

            <div>
              <label for="categoria">Seleccionar la categoria</label>
              <select name="categoria" id="categoria">
                <option value="--"> -- </option>
                <option value="Accesorios">Accesorios</option>
                <option value="Indumentaria">Indumentaria</option>
                <option value="Repuestos">Repuestos</option>
                <option value="Bicicleta">Bicicletas - Rodados</option>
              </select>
            </div>

            <div>
              <label for="tamañoYmedida">Ingresa las medidas del producto:</label>
              <input type="text" id="tamañoYmedida" name="tamañoYmedida" placeholder="Escribe las medidas del producto"
                required>
            </div>

            <div>
              <label for="precio">Ingresa el precio:</label>
              <input type="text" id="precio" name="precio" placeholder="Ingresa el precio" required>
            </div>

            <div>
              <label for="stock">Ingresa el stock:</label>
              <input type="number" id="stock" name="stock" required>
            </div>

            <div>
              <label for="colores">Elige los colores</label>
              <select name="colores" id="colores">
                <option value="--"> -- </option>
                <option value="#ff0000">Rojo</option>
                <option value="#00ff00">Azul</option>
                <option value="0000ff">Verde</option>
                <option value="770077">Morado</option>
              </select>
            </div>

            <div>
              <label for="descripcion">Descripcion</label>
              <textarea class="descripcion" name="descripcion" id="descripcion"
                placeholder="Escribe una breve descripcion..."></textarea>
            </div>

            <div class="botones-market">
              <button class="enviar" type="submit">Enviar y Guardar</button>
              <button class="resetear" type="reset">Borrar Datos</button>
            </div>
          </form>
        </div>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>